#rood{
    width: 1250px;
    height: 200px;
    background-color: red;
}
#wit{
    width: 41250px;
    height: 200px;
    background-color: white
}
#blauw{
    width: 1250px;
    height: 200px;
    background-color: blue;
}
